<div>
  <h2 id="page-heading" data-cy="ActivitiesHeading">
    <span jhiTranslate="activitiesStatusApp.activities.home.title">Activities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="activitiesStatusApp.activities.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-activities"
        [routerLink]="['/activities/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="activitiesStatusApp.activities.home.createLabel"> Create a new Activities </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="activities?.length === 0">
    <span jhiTranslate="activitiesStatusApp.activities.home.notFound">No activities found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="activities && activities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="activitiesStatusApp.activities.name">Name</span></th>
          <th scope="col"><span jhiTranslate="activitiesStatusApp.activities.detalle">Detalle</span></th>
          <th scope="col"><span jhiTranslate="activitiesStatusApp.activities.status">Status</span></th>
          <th scope="col"><span jhiTranslate="activitiesStatusApp.activities.terminationDate">Termination Date</span></th>
          <th scope="col"><span jhiTranslate="activitiesStatusApp.activities.daysLate">Days Late</span></th>
          <th scope="col"><span jhiTranslate="activitiesStatusApp.activities.employee">Employee</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activities of activities; trackBy: trackId" data-cy="entityTable">
          <td>{{ activities.name }}</td>
          <td>{{ activities.detalle }}</td>
          <td jhiTranslate="{{ 'activitiesStatusApp.Status.' + activities.status }}">{{ activities.status }}</td>
          <td>{{ activities.terminationDate | formatMediumDatetime }}</td>
          <td>{{ activities.daysLate }}</td>
          <td>
            <div *ngIf="activities.employee">
              <a [routerLink]="['/employee', activities.employee?.id, 'view']">{{ activities.employee?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/activities', activities.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/activities', activities.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(activities)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
